h1{
  color:#a83251;
}
h2{
  color: #a83238;
}
h3{
  color: #a232a8;
}
body{
  text-align: center;
  background-color: #0ffc03;


}
@keyframes example {
  0%   {background-color: #dffc03;}
  25%  {background-color: #41fc03;}
  50%  {background-color:#03adfc ;}
  100% {background-color: #fc0362;}
}

div{

animation-duration: 4s;
  animation-name: example;
  animation-iteration-count: infinite;
}
