<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



<link rel="stylesheet" href="{% static 'css/index.css' %}">
  </head>
  <body>
    <nav class="navbar fixed-top navbar navbar-expand-lg navbar navbar-dark ">
      <div class="container" >
      <ul class="navbar-nav mr-auto">


              <li class="nav-item active"><a class="navbar-brand" href="{% url 'appTwo:index' %}">Homepage</a>
                  <li class="nav-item active"><a class="navbar-brand" href="{% url 'appTwo:register' %}">Register</a>
                    {% if user.is_authenticated %}
                       <li class="nav-item active"><a class="navbar-brand" href="{% url 'user_logout' %}">Logout</a></li>
                     {% else %}
                        <li class="nav-item active"><a class="navbar-brand" href="{% url 'appTwo:user_login' %}">Login</a><li>
                     {% endif %}








            </ul>
          </div>

          </nav>
          <br><br>

          <h1>PLEASE LOGIN</h1>
          <br>
          <form  action="{% url 'appTwo:user_login' %}" method="post">
              {% csrf_token %}
            <label for="email">Email:</label>
            <input type="text" name="email" >
            <label for="password">Password:</label>
            <input type="password" name="password" >
            <input type="submit" name="" value="Login">



          </form>


  </body>
</html>
