<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/registerations.css' %}">
  </head>
  <body>
    <nav class="navbar fixed-top navbar navbar-expand-lg navbar navbar-dark ">
      <div class="container" >
      <ul class="navbar-nav mr-auto">


              <li class="nav-item active"><a class="navbar-brand" href="{% url 'appTwo:index' %}">Homepage</a>
                  <li class="nav-item active"><a class="navbar-brand" href="{% url 'appTwo:register' %}">Register</a>
                    {% if user.is_authenticated %}
                       <li class="nav-item active"><a class="navbar-brand" href="{% url 'user_logout' %}">Logout</a></li>
                     {% else %}
                        <li class="nav-item active"><a class="navbar-brand" href="{% url 'appTwo:user_login' %}">Login</a><li>
                     {% endif %}









            </ul>
          </div>

          </nav>
          <br><br><br>

          <div class="cimp">
             {% if registered %}
                <h1 id="simp">Thank you for registering!</h1>
             {% else %}
                <h1>PLEASE FILL UP THE FORM TO REGISTER</h1>
                 <form  enctype="multipart/form-data "method="post">
                  {% csrf_token%}
                  <b>{{user_form.as_p}}</b>
                  <b>{{profile_form.as_p}}</b>
                  
                  <input type="submit"  value="Register">
                  </form>
             {% endif %}

          </div>


  </body>
</html>
